*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* struttura header */

header{
    background-color:rgb(37, 94, 233);
}

.container-header{
    height: 75px;
    width: 75%;
    margin: 0 auto;
    display: flex;
}

.row{
    display: flex;
    align-items: center;
    width: 100%;
}

.col-logo{
    display: flex;
    align-items: center;
    padding-left: 5px;
    width: 25%;
}

.col-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.col-login{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
    width: 25%;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
}

li{
    color: white;
    cursor: pointer;
}

.padding-left{
    padding-left: 20px;
}

.Accedi{
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
    cursor: pointer;
    border: none;
}

/* fine header */

/* struttura titolo */

.container-title{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.row-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 425px;
}

.col-title{
    width: 60%;
}

.title{
    text-align: center;
    color: white;
}

h1{
    font-size: 56px;
    font-weight: 800;
}

.subtitle{
    margin-top: 40px;
    line-height: 1.625;
    font-size: 20px;
}

.Scarica{
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    margin-top: 24px;
    margin-right: 24px;
    border: none;
    cursor: pointer;
}

.Apri{
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    margin-top: 24px;
    background-color: rgb(54, 57, 63);
    color: white;
    border: none;
    cursor: pointer;
}

/* fine titolo */

/* struttura main */

.container-grey{
    background-color: lightgray;
}

.row-main{
    display: flex;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.col-img{
    display: flex;
    align-items: center;
    width: 70%;
    margin-right: 60px;
}

.col-text{
    width: 30%;
}

h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
}

.col-text p{
    margin-top: 24px;
    line-height: 1.625;
}

.row-boxgreen{
    display: flex;
    align-items: center;
    width: 75%;
    height: 700px;
    margin: 0 auto;
}

.col-boxgreen{
    display: flex;
    align-items: center;
    height: 600px;
    background-color: green;
    width: 100%;
    border-style: dashed
}

/* fine main */

/* struttura menu */
.container-menu{
    background-color: black;
}

.row-menu{
    display: flex;
    align-items: center;
    width: 75%;
    height: 600px;
    margin: 0 auto;
}

.col-social{
    display: flex;
    align-items: center;
    height: 550px;
    background-color: palevioletred;
    width: 40%;
    border-style: dashed
}

.col-menu{
    display: flex;
    align-items: center;
    height: 550px;
    background-color: cyan;
    width: 20%;
    border-style: dashed;
    border-color: white;
}

/* fine menu */

/* struttura footer */

footer{
    background-color: black;
}

.container-footer{
    height: 75px;
    width: 75%;
    margin: 0 auto;
    display: flex;
}

.row-footer{
    display: flex;
    align-items: center;
    width: 100%;
}

.col-logo-footer{
    display: flex;
    align-items:center;
    height: 50px;
    background-color: aqua;
    width: 50%;
}

.col-button-footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    background-color: aqua;
    width: 50%;
}

span{
    background-color: pink;
    border-style: dashed;
    padding: 3px 3px 3px 3px;
}

/* fine footer */